<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
<body>
    <header>
        <div class="logo"><a href="#home">Home</a></div>
        <ul>
            <li><a href="#news">About Us</a></li>
            {% if user.is_authenticated %}
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="#">Welcome, {{user.username}}</a>
            </li>
            {% else %}
            <li><a href="/login">Login</a></li>
            
      {% endif %}
        </ul>
    </header>
    
</body>
</html>